<div>
    <p class="lead">This is a weather app that provides temperature observations for a given weather station.</p>

    <input class="form-control me-sm-2" id="stationInput" name="stationId" type="text" placeholder="Enter a station identifier...">
    <button class="btn btn-secondary my-2 my-sm-2">Click to Get Data</button>
</div>
