<table id="temp-table" class="table table-hover">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>High Temperature</th>
            <th>Low Temperature</th>
        </tr>
    </thead>
    <tbody id="table-body">
    </tbody>
</table>
